/* Icons */

	ul.icons {
		cursor: default;
		list-style: none;
		padding-left: 0;

		li {
			display: inline-block;
			padding: 0 1em 0 0;

			&:last-child {
				padding-right: 0;
			}

			.icon {
				// color: _palette(fg-light);
				fill: _palette(fg-light);

				&:before {
					font-size: 1.5em;
				}
			}
		}
		img {
			height: 26px;
		}
	}
	.new-social {
		mix-blend-mode: lighten;
		fill: pink;
		width: 30px;
		margin-right: 16px;
	}
	.new-social a:link, .new-social a:visited, .new-social a:hover, .new-social a:active {
		text-decoration: none;
	}
	.new-social:hover {
		cursor: pointer;
	}